<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
<div class="wrapper" (window:resize)="onResize($event)">

    <!-- Preloader -->
    <app-preloader></app-preloader>

    <!-- Navbar -->
    <app-toolbar></app-toolbar>

    <!-- Main Sidebar Container -->
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <app-container></app-container>
    
    <!-- Footer -->
    <app-footer></app-footer>

    <!-- Sidebar Overlay Close-Click -->
    <div id="sidebar-overlay" (click)="toggleSidebar()"></div>

</div>
<!-- ./wrapper -->
</ion-content>