<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-alert #alert></app-alert>
        </div>
        <div class="col-12">
            <div class="card card-light">
                <div class="card-header">                    
                    <h3 class="card-title" style="line-height: 1.5;">Détails</h3>
                    <div class="card-tools" *ngIf="canEdit">
                        <a type="button" class="btn btn-sm btn-warning mx-1" [routerLink]="['/administration/departments/' + entity.id + '/edit' ]">
                          <ngx-fa-icon icon="pen-to-square" class="mr-1"></ngx-fa-icon> Modifier
                        </a>
                        <button type="button" class="btn btn-sm btn-danger mx-1" (click)="showDeleteDialog()">
                          <ngx-fa-icon icon="trash" class="mr-1"></ngx-fa-icon> Supprimer
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row px-lg-4 px-md-3 px-sm-2">
                        <div class="col-12 mb-3">
                            <h1 class="mb-1">{{entity.name}}</h1>
                            <h3 class="m-0 text-secondary">{{entity.acronym}}</h3>
                        </div>
                        <div class="col-12 mb-1 px-lg-4 px-md-3 px-sm-2">
                            <simple-text-details title="E-mail" [icon]="EmailIcon" [text]="entity.email"></simple-text-details>
                        </div>
                        <div class="col-12 mb-1 px-lg-4 px-md-3 px-sm-2">
                            <simple-text-details title="Téléphone" [icon]="PhoneIcon" [text]="entity.phone"></simple-text-details>
                        </div>
                        <div class="col-12 mb-4 px-lg-4 px-md-3 px-sm-2">
                            <simple-text-details title="Notes" [icon]="NoteIcon" [text]="entity.about"></simple-text-details>
                        </div>

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">                    
                                    <h3 class="card-title" style="line-height: 1.5;">Niveaux</h3>
                                    <div class="card-tools" *ngIf="canEdit">
                                        <button type="button" class="btn btn-sm btn-success" title="Ajouter" (click)="showCreateLevelDialog()">
                                            <ngx-fa-icon icon="plus"/> Ajouter
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body p-lg-4 p-md-3 p-sm-2 bg-light">
                                    <tree-view [data]="levels" class="mt-3" style="--tree-branch-height: 1.5rem" *ngIf="canEdit">
                                        <div class="card btn btn-light h-100" *nodes="let node" [matMenuTriggerFor]="dropdown.menu">
                                            <div class="card-body p-2 text-dark" >
                                                {{node.name}}
                                                <div class="text-center text-sm text-muted">( {{node.acronym}} )</div>
                                            </div>
                                            <dropdown-menu #dropdown="dropdown" xPosition="before" [items]="node.menu"></dropdown-menu>
                                        </div>
                                    </tree-view>
                                    <tree-view [data]="levels" class="mt-3" style="--tree-branch-height: 1.5rem" *ngIf="!canEdit">
                                        <div class="card h-100" *nodes="let node">
                                            <div class="card-body p-2 text-dark text-center">
                                                {{node.name}}
                                                <div class="text-center text-sm text-muted">( {{node.acronym}} )</div>
                                            </div>
                                        </div>
                                    </tree-view>
                                    <empty *ngIf="!levels.length"></empty>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="card-footer">
                    Dernière mise à jour était le {{entity.updatedAt}}
                </div>
            </div>
        </div>
    </div>
</div>