.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background-color: whitesmoke;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.profile-info {
    color: gray;
    font-size: 1rem;
}
.profile-data {
    font-size: 1.5rem;
    line-height: 1.15;
}