<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <app-alert #alert></app-alert>
      </div>
      <div class="col-12">
        <form #formCtrl="ngForm">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                <image-dropzone [(ngxModel)]="logo" [preload]="entity.logo" name="logo"></image-dropzone>
              </div>
              <div class="col-xl-9 col-lg-8 col-sm-6 col-12">
                <div class="row">
                  <div class="col-12">
                    <text-input [(ngModel)]="entity.name" label="Nom" name="name" [required]="true">
                    </text-input>
                  </div>
                  <div class="col-12">
                    <text-input [(ngModel)]="entity.acronym" label="Acronyme" name="acronym" [required]="true">
                    </text-input>
                  </div>
                  <div class="col-12">
                    <text-area [(ngModel)]="entity.about" label="À Propos" name="about"
                      placeholder="Entrer une description, des remarques ou des informations additionnelles ici..."
                      [rows]="5">
                    </text-area>
                  </div>
                </div>
              </div>
                <div class="col-12">
                  <text-input type="email" [(ngModel)]="entity.email" name="email"
                    label="Adresse E-mail">
                  </text-input>
                </div>
                <div class="col-lg-6 col-12">
                  <text-input type="phone" [(ngModel)]="entity.phone" name="phone"
                    label="Numéro de Téléphone">
                  </text-input>
                </div>
                <div class="col-lg-6 col-12">
                  <text-input type="phone" [(ngModel)]="entity.phone2" name="phone2"
                    label="Numéro de Téléphone Alternatif">
                  </text-input>
                </div>
                <div class="col-xl-9 col-lg-8 col-12">
                  <text-input [(ngModel)]="entity.address.street" name="address_street"
                    label="Adresse">
                  </text-input>
                </div>
                <div class="col-xl-3 col-lg-4 col-12">
                  <text-input [(ngModel)]="entity.address.code" name="address_code"
                    label="Code Postale">
                  </text-input>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                  <text-input [(ngModel)]="entity.address.city" name="address_city"
                    label="Ville">
                  </text-input>
                </div>
                <div class="col-xl-4 col-lg-6 col-12">
                  <text-input [(ngModel)]="entity.address.state" name="address_state"
                    label="État/Province">
                  </text-input>
                </div>
                <div class="col-xl-4 col-12">
                  <text-input [(ngModel)]="entity.address.country" name="address_country"
                    label="Pays">
                  </text-input>
                </div>
            </div>
  
            <button class="btn btn-primary btn-block btn-lg my-3" (click)="submit()">
              Soumettre
            </button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  
    
      
      