<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-alert #alert></app-alert>
        </div>
        <div class="col-12">
            <app-alert type="info" title="Veuillez noter" message="On recommande l'affectation les élèves avant la création des matières. Il est possible d'affecter un élève à plusieurs classes. Cette option est utile si vous avez certains élèves de deux classes différentes avec des sujets partagés. Dans ce cas on recommande la création d'une 3<sup>ème</sup> classes pour les joindre." [open]="true"></app-alert>
        </div>
        <div class="col-12">
            <data-table *ngIf="context.mode == 'Table';else tree" [source]="list"
                [config]="dataTableConfig"></data-table>
            <ng-template #tree>
                <tree-view [data]="nodes"
                    style="--tree-branch-height: 2rem; --tree-leaf-min-width: 13rem; display: block; overflow-x: auto;">
                    <div class="card card-light h-100" *nodes="let node">
                        <div class="card-header">
                            <h3 class="card-title text-center w-100 text-sm">{{node.acronym}}</h3>
                        </div>
                        <div class="card-body p-2 text-center">
                            <ion-chip *ngFor="let class of node.classes">
                                <span class="badge bg-gray rounded-circle font-weight-normal"
                                    style="margin-inline: -6px 8px;width: 2em;line-height: 1.5;">{{class.students}}</span>
                                <ion-label>{{class.acronym}} &nbsp;</ion-label>
                                <ion-icon name="ellipsis-vertical" size="small" class="no-print"
                                    [matMenuTriggerFor]="dropdown.menu"></ion-icon>
                                <dropdown-menu [items]="class.menu" #dropdown="dropdown"></dropdown-menu>
                            </ion-chip>

                            <ion-chip [outline]="true" color="primary" class="no-print" (click)="showCreateClassDialog(node)">
                                <ion-icon name="add" class="m-0"></ion-icon>
                            </ion-chip>
                        </div>
                    </div>
                </tree-view>
            </ng-template>
            <delete-dialog #dialogDelete />
            <info-dialog #dialogInfo />
            <info-dialog #dialogClassInfo>
                <ng-container dialog-title>
                    Info Classe
                </ng-container>
                <simple-text-details title="Nom" [text]="classInfo.name"/>
                <simple-text-details title="Acronyme" [text]="classInfo.acronym"/>
                <simple-text-details title="Effectif" [text]="classInfo.students + ' élèves'"/>
                <simple-text-details title="À propos" [text]="classInfo.about"/>
                <div style="margin: 0; min-width: 20vw;"></div>
            </info-dialog>
            <alert-dialog #dialogClassForm (confirm)="createClass(classEntity)">
                <ng-container dialog-title>
                    {{classEntity.id ? 'Modifier' : 'Nouvelle'}} Classe
                </ng-container>
                <text-input label="Nom" [(ngModel)]="classEntity.name"/>
                <text-input label="Acronyme" [(ngModel)]="classEntity.acronym"/>
                <text-area label="À propos" [(ngModel)]="classEntity.about"/>
                <div style="margin: 0; min-width: 40vw;"></div>
            </alert-dialog>
        </div>
    </div>
</div>