.login-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ngx-fa-icon {
    width: 1.2em;
    text-align: center;
}

label[for="rememberMe"] {
    font-weight: normal; 
    font-size: 0.85em; 
    margin: 0;
}