.col-lg-1 > .card,
.col-lg-2 > .card,
.col-lg-3 > .card,
.col-lg-4 > .card,
.col-lg-5 > .card,
.col-lg-6 > .card,
.col-lg-7 > .card,
.col-lg-8 > .card,
.col-lg-9 > .card,
.col-lg-10 > .card,
.col-lg-11 > .card,
.col-lg-12 > .card {
    height: calc(100% - 1rem);
}

app-clock {
    font-size: 2vw;
}

@media (min-width: 576px) {
    app-clock {
        font-size: 1vw;
    }
}

@media (min-width: 992px) {
    app-clock {
        font-size: .5vw;
    }
}